    <a class="mail-button" href="mailto:dybber@dybber.dk" title="Email" target="_blank"><span class="fa fa-envelope" aria-hidden="true"></span></a>
    <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener"><span class="fa fa-rss" aria-hidden="true"></span></a>
    {{#if @labs.subscribers}}
        <a class="subscribe-button" href="http://informatikken.dk/subscribe/">Abonnér</a>
    {{/if}}
