{{!< default}}

<main class="content" role="main">

{{#post}}
    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>
    </header>
    <section class="post-content">
        {{content}}

    <div id="postList"></div>

    </section>
{{/post}}

</main>

<script type="text/javascript">
function showArchive(posts) {
    var currentYear = -1;
    if(window.location.pathname == "/arkiv/"){
        $(posts).each(function(index,value){
            var datePublished = new Date(value.published_at);
            var postYear = datePublished.getFullYear();
            var postHtml = value.html;
            var words = postHtml.split(" ").length;
            var readingTime = Math.round(words/275);

            if(postYear != currentYear) { 
                currentYear = postYear;
                $("main").append("<h3>" + currentYear + "</h3>");
            }
            $("main").append(
              $("<p/>")
                .append("<a href=\"" + value.url +"\">" + value.title + "</a>")
                .append($("<span class=\"post-metadata\"></span>")
                        .append("<span class=\"fa fa-calendar\" role=\"img\" aria-hidden=\"true\"></span> ")
                        .append("<time class=\"post-date\">" + moment(datePublished).format('Do MMMM YYYY') + "</time>")
                        .append("- <span class=\"fa fa-clock-o\" role=\"img\" aria-hidden=\"true\"></span>")
                        .append(" " + readingTime + " minutters læsning")
                ));
        });
    }
}

    
function onSuccess(data) {
    showArchive(data.posts);
}
    
$(document).ready(function () {
    $.get(
        ghost.url.api('posts', {limit: 'all'})
    ).done(onSuccess);
});
</script>
